bibliothiki/Service References/ModifyAndCheckReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34877/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModifyandCheck" />
  <xs:element name="Modifyandcheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModifyandCheck" minOccurs="0" name="reservation1" nillable="true" type="q1:ReservationDetails2" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModifyandCheck" minOccurs="0" name="reservation2" nillable="true" type="q2:ReservationDetails2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyandcheckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>