bibliothiki/Service References/DeleteReservationReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DeleteReservation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DeleteReservation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReservationDetails3">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aborted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Accepted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Endingdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Startingdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Submitdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationDetails3" nillable="true" type="tns:ReservationDetails3" />
</xs:schema>